body {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 10px;
}

.video, .error-video {
  bottom: 50%;
  height: 300px;
  width: auto;
}

.video {
  display: block;
}

.error-video {
  display: none;
}

.start {
  font-family: monospace;
  color: #fff;
  margin: 20px 0 20px 0;
}

.start:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.meter {
  border: 1px solid #800;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 64%;
}

.needle {
  border-radius: 50%;
  height: 100px;
  position: absolute;
  top: 64%;
  width: 100px;
}

.counter {
  color: #fff;
  font-family: monospace;
}
